@media screen and (max-width:800px){
    ul {
        display: none;
    }
     .menu-btn{
        position: absolute;
        right: 10px;
        top: 18px;
    }
    .logo{
        padding-left: 30px;
        font-size: 30px; 
        
    }
}

@media screen and (max-width: 800px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: rgb(255, 88, 96);
        padding-top: 80px;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;        
       
    }
    .active{
        display: none;
    }
}